.container-cont {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.container-cont2 {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 86vh;
}

table {
    background-color: #F4F4F4 !important;
    width: 100% !important;
    margin: 1em;
}

.container {
    width: 100vh;
}

a .botoes-editar {
    margin-right: 5px;
    width: 3vh;
    height: 100%;
}

a .botoes-excluir {
    cursor: pointer;
    width: 3vh;
    height: 100%;
}

.btn-editar-excluir {
    flex-direction: row;
    justify-content: center;
}

td .img2 {
    margin-left: 20px;
}

li {
    list-style: none;
}

.menu-prato a {
    margin: 2em;
}

.card-footer {
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.card-footer button {
    color: white;
    background-color: #f50000 !important;
    width: 50%;
    height: 3vh;
    font-size: 1.8vh !important;
    margin-left: 0.8em;
}

.card-footer .editar-excluir {
    margin-right: 0.8em;
    display: flex;
}

.card-footer button:hover {
    color: white;
    background-color: #FF4F4E !important;
}

.card-footer button:focus {
    color: white;
}

.modal-footer button {
    color: white;
    background-color: #f50000 !important;
    font-size: 0.7vw !important;
}

.modal-footer button:hover {
    color: white;
    background-color: #FF4F4E !important;
}

.card-deck {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 65vh !important;
    width: 100% !important;
}

.card p {
    font-size: 0.8em;
    padding-left: 1em !important;
    margin-bottom: 5%;
}

.btn-cadastro {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    margin-bottom: 1em;
}

.btn-cadastro a {
    color: white;
    background-color: #f50000;
}

.btn-cadastro a:hover {
    color: white;
    background-color: #ff2f48;
}

.card-deck .card {
    width: 100% !important;
    margin-left: 0 !important;
}

.card-body {
    height: 10vh;
    padding: 0.4rem !important;
}

h5 {
    font-size: max(10px, 1.1vw) !important;
    /* viewport unit(width) */
}

.table {
    margin-left: auto !important;
    margin-right: auto !important;
}

.card .card-img-top {
    height: 20vh;
    width: 100%;
}

.mais-informacoes {
    padding: 0 !important;
    font-size: 15px !important;
}


.col {
    padding-left: 0 !important;
    height: 47vh !important;
    width: 100% !important;
    margin-top: 2em;
}

.scroll {
    width: 100vh;
    max-height: 100%;
    overflow-y: auto;
}

.table-sm{
    height: 65%;
    border-radius: 1em;
}

.modal-body h3 {
    text-align: center;
}

.modal-body img {
    border-radius: 60vh;
    width: 100%;
    height: 100%;
}

.ftprato {
    margin-right: auto;
    margin-left: auto;
    width: 20vh;
    height: 20vh;
}

.ingredientes {
    font-weight: 100;
}

.card-img-top {

    margin-right: auto !important;
    margin-left: auto !important;
}

.card-dash {
    text-align: center;
    background-color: #F4F4F4 !important;
    border-radius: 2em !important;
    height: 100%;
    width: 20%;
}

.colDash {
    height: 100% !important;
}

.cardDash p {
    font-size: 2em;

}

.cardDash {
    height: 100%;
}

.card-body{
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
}

.rowDash {
    height: 20vh !important;
    margin-bottom: 1em;
}

.row2 {
    height: 40vh !important;
}

.style-reservas {
    height: 75vh;
}

.card{
    height: 100%!important;
}

.btn-light{
    background-color: #f50000 !important;
    font-size: 0.7vw !important;
    color: white!important;
}

.btn-light:hover{
    background-color: #ff2f48!important;
}

::-webkit-scrollbar {
    background-color: #ff9494;
    width: 5px;
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #f50000;
    border-radius: 5px;
}

/* ADMIN */
.colDash{
    margin: 0!important;
}

.rowDash1{
    height: 35%!important;
}

.rowDash2{
    height: 50%!important;
}

.card-title{
    margin-bottom: 0em!important;
    height: 100%!important;
    width: 100%!important;
}

h1{
    font-size: 1.5em!important;
}

p{
    margin-bottom: 0rem!important;
}

.scroll2 {
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
}

tr .th{
    font-weight: 400!important;
}

.edit-excluir-tipo {
    color: white!important;
    background-color: #f50000 !important;
    font-size: 0.7vw !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.edit-excluir-tipo:hover {
    color: white!important;
    background-color: #ff2f48 !important;
    font-size: 0.7vw !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.grafh1{
    padding-left: 1em!important;
}

.colDash{
    padding-right: 0!important;
}

/* ADMIN PAGINAÇÃO */
.page-item.active .page-link{
    background-color: #ff2f48!important;
    border-color: #f50000!important;
    color: white!important;
}

.page-link{
    color: #ff2f48!important;
    margin-top: 0.3em;
}

@media screen and (max-width:1440px) {
    .card-footer button {
        font-size: 1.8vh !important;
    }
}

@media (max-width:1320px) {
    a .botoes-excluir {
        width: 2.8vh;
        height: 100%;
    }

    a .botoes-editar {
        width: 2.8vh;
        height: 100%;
    }

    .card-footer button {
        font-size: 1.6vh !important;
        height: 3vh;
    }

}

@media(max-width: 1325px){
    .col{
        height: 48vh!important;
    }
}

@media(max-width: 1220px){
    a .botoes-excluir {
        width: 2.6vh;
        height: 100%;
    }

    a .botoes-editar {
        width: 2.6vh;
        height: 100%;
    }
}

@media (max-width:1104px) {
    a .botoes-excluir {
        width: 2.4vh;
        height: 90%;
    }

    a .botoes-editar {
        width: 2.4vh;
        height: 90%;
    }

    .card-footer button {
        font-size: 1.4vh !important;
        height: 3vh;
    }
}

@media(max-width: 865px){
    a .botoes-excluir {
        width: 2.2vh;
        height: 90%;
    }

    a .botoes-editar {
        width: 2.2vh;
        height: 90%;
    }
}

/* MEDIA MESAS */
@media (max-width:1150px){
    th, td{
        font-size: 0.7em!important;
    }
}

@media (max-width:906px){
    th{
        font-size: 0.6em!important;
    }
}