.container-cont{
    width: 100%;
}

table{
    background-color: #F4F4F4!important;
    width: 90%!important;
    margin: 4em;
}

.container{
    width: 100vh;
}

td .botoes-editar{
    width: 2.5vh;
    height: 2.5vh;
}
td .botoes-excluir{
    width: 2.5vh;
    height: 2.5vh;
}

td .img2{
    margin-left: 20px;
}

li{
    list-style: none;
}

.menu-prato a{
    margin: 2em;
}
