form{
    align-items: center;
}
.form-conteudo
{
    flex-direction: column;
    flex-wrap: wrap;
}

.container-cadastro{
    padding: 2em;
}

form{
    width: 100%;
}
.TitleForm{
    font-size: 1.2em;
}
.TitleRegisterMesa{
    font-size: 1.8em;

}

.container-form{
    background-color: #F4F4F4;
    padding: 20px;

    border-radius: 2em;
    text-align: center;
}

.text-center{
    margin-right: auto;
    margin-left: auto;
}
.scroll {
    max-height: 95%;
    overflow-y: scroll;
}

.btn{
    color: #f50000!important;
    border-color: #f50000!important;
}

.btn:hover{
    background-color: #ff2f48!important;
    color: white!important;
    border-color: #ff2f48!important;
}