form {
    align-items: center;
}

.form-conteudo {
    flex-direction: column;
    flex-wrap: wrap;
}

.container-cadastro {
    padding: 2em;
}

form {
    width: 100%;
}

.TitleForm {
    font-size: 1.2em;
}

.TitleRegisterMesa {
    font-size: 1.8em;

}

.container-form {
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 2em;
    text-align: center;
}

.text-center {
    margin-right: auto;
    margin-left: auto;
}

.scroll {
    max-height: 88vh;
    overflow-y: scroll;
}

.btn {
    color: #f50000 !important;
    border-color: #f50000 !important;
}

.btn:hover {
    background-color: #ff2f48 !important;
    color: white !important;
    border-color: #ff2f48 !important;
}

h1 {
    font-size: 1.5rem !important;
}

.foto{
    padding: 0.2em!important;
}

::-webkit-scrollbar {
    background-color: #ff9494;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #f50000;
    border-radius: 5px;
}

.formMesas{
    display: flex;
}

.formMesas .form-group{
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

@media(max-width: 1285px){
    label{
        font-size: 0.8em!important;
    }
}

@media(max-width: 1102px){
    label{
        font-size: 0.6em!important;
        font-weight: 600;
    }
}

/* TAMANHO */
@media(max-height: 514px){
    .scroll{
        max-height: 80vh;
    }
}