/*Edit Perfil*/
.FundoFoto{
  height: 20vh;
  padding-left: 1em;
  padding-top: 0.1em;
  background: #f50000;
}

.info {
  background:white;
  padding: 10px;
}
.cardzinho {
  width: 100%;
}

.fotoPerfil{
  width:17vh;
  height:17vh;
  background: white;
  border-radius: 7em;
  border: 3px solid;
  margin-top: 1vh;
}

.foto-perfil{
  width: 17vh;
  height: 17vh;
}
.container-perfil{
  background: #F4F4F4;
  padding: 2.5em;
  margin: 5vh;
  box-sizing: border-box;
}

.botoes-editar{
  width: 30px;
  height: 30px;
  border-radius: 1em;
}
.a-edit-button{
  text-decoration: none;
  font-size: 1.5em;
  
}

.foto-perfil {
  max-height:100%; 
  max-width:100%;
  border-radius: 7em;

}

.btn-cadastro a{
  width: 15vh;
  color: white;
  background-color: #f50000;
}

.btn-cadastro a:hover{
  color: white;
  background-color: #ff2f48;
}

h1{
  font-size: 1.5em!important;
}


h3{
  font-size: 1rem!important;
}

::-webkit-scrollbar{
  background-color:#ff9494;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #f50000;
  border-radius: 5px;
}

@media (max-width:1172px){
  .scroll{
    height: 45vh;
    overflow-y: auto;
  }
}