.container-cont {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 100%;
}

.global {
    display: flex;
    height: 90%;
}

main {
    height: 88vh;
}

.card-reserva {
    width: 100%;
    height: 100%;
    background-color: #f50000;
}

.card-title {
    font-size: 0.7rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.7rem;
}

.reserva {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}

.cards {
    background-color: #f4f4f4;
    grid-area: m;
    border-radius: 2em;
    padding: 15px;
}

.reservados .card {
    border-color: #ff9494 !important;
    height: 100%;
}

.aceitar-reserva .card {
    border-color: #ff9494 !important;
}

.aceitar-reserva {
    width: 145vh !important;
    display: flex;
}

.card img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 3vh;
    height: 3vh;
    margin-top: 0.5em;
}

.botoes {
    justify-content: center;
    text-align: center;
    display: flex;
}

.botoes a {
    font-size: 85%;
    width: 100%;
}

.title-finalizadas {
    margin: 1em;
}


h4 {
    margin-top: 0.5em !important;
}

h1 {
    font-size: 1.5rem !important;
}

h2 {
    font-size: 1.3rem !important;
}

.col {
    display: block;
    margin-bottom: 1em;
}

.row {
    width: 100% !important;
    margin-left: 0px !important;
}



.reservados .row {
    height: 20vh;
}

.scroll {
    width: 100% !important;
    overflow-y: auto;
    height: 100%;
}

.reservados {
    height: 45%;
}

.card-group{
    margin-bottom: 1em;
}

.title {
    display: flex;
}

.title h2 {
    width: 100%;
}

.flex {
    display: block !important;
    width: 100%;
}

/* RESOLUÇÕES BAIXAS DO RESERVAS ACEITAS*/

@media (max-width: 1400px){
    .botoes a{
        font-size: 78%;
    }
}

@media (max-width: 1280px) {
    .aceitar-reserva .card-group {
        height: 50vh !important;
    }

    .reservados .row {
        height: 24vh;
    }

    .botoes {
        display: grid !important;
    }
}

@media (max-width: 1152px) {
    .reservados .row {
        height: 30vh;
    }
}

@media (max-width: 1024px) {
    .aceitar-reserva .card-group {
        height: 54vh !important;
    }

    .reservados .row {
        height: 32vh;
    }
}

@media (max-width: 911px) {
    .reservados .row {
        height: 38vh !important;
    }
}

@media (max-width: 880px) {
    .reservados .row {
        height: 40vh !important;
    }
}

@media (max-width: 800px) {
    .reservados .row {
        height: 42vh !important;
    }
}

/* MEDIA HEIGHT "altura" */

@media(max-height:900px) {
    .global {
        height: 88% !important;
    }

}

@media(max-height:870px) {
    .global {
        height: 86% !important;
    }
}

@media(max-height:850px) {
    .global {
        height: 80% !important;
    }
}

@media(max-height:810px) {
    .global {
        height: 72% !important;
    }
}

@media(max-height: 734px) {
    .global {
        height: 68% !important;
    }
}

@media(max-height: 680px) {
    .global {
        height: 73vh !important;
    }
    .card-group .card-group{
        height: 100vh!important;
    }
}

@media(max-height: 570px){
    .global{
        height: 68vh!important;
    }
}


.reservados .card-group{
    margin-bottom: 1em;
}

.aceitar-reserva .card-group{
    margin-right: 1em;
}

::-webkit-scrollbar{
    background-color:#ff9494;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #f50000;
    border-radius: 5px;
}

/* MEDIA CARD ACEITAS */


@media (max-width: 1442px) {
    .reservados .row {
        height: 70% !important;
    }

    .reservados .col {
        height: 100%;
    }
}

@media (max-width: 1410px) {
    .reservados .row {
        height: 32vh !important;
    }

    .reservados .col {
        height: 100%;
    }
}

@media (max-width: 1200px){
    .reservados .row{
        height: 36vh!important;
    }
}

@media (max-width: 1070px){
    .reservados .row{
        height: 48vh!important;
    }
    .botoes a{
        font-size: 75%!important;
    }
}

@media (max-width:968px){
    .reservados .row {
        height: 52vh!important;
    }
    .botoes a{
        padding: 0.5em;
    }
}

@media (max-width:968px){
    .reservados .row {
        height: 45vh!important;
    }
    .botoes a{
        padding: 0.5em;
    }
    .card-body{
        padding: 0.8em!important;
    }
}

@media(max-width: 856px){
    .reservados .row {
        height: 48vh!important;
    }
}

@media(max-width: 856px){
    .reservados .row {
        height: 54vh!important;
    }
}

@media (max-width: 864px){
    .card-body{
        padding: 0.5em!important;
    }
}

/* RESOLUÇÕES BAIXAS DO RESERVAS ACEITAS*/


@media (max-width: 765px){
    .reservados .card-group{
        height: 35vh;
    }
}

@media (max-width: 950px){
    .aceitar-reserva .card-group {
        height: 39vh;
    }
    .reservados .card-group{
        height: 30vh;
    }
    .botoes a{
        font-size: 65%!important;
    }
}

@media (max-width: 766px){
    .reservados .row{
        height: 30vh!important;
    }
    .aceitar-reserva .card-group {
        height: 40vh !important;
    }
}


