.container-cont {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 86%;
}

.global {
    display: flex;
    height: 90%;
}

.main {
    height: 86%;
}

.card-reserva {
    width: 100%;
    height: 100%;
    background-color: #f50000;
}

.card-title {
    font-size: 0.7rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.7rem;
}

.card {
    height: 100%;
}

.reserva {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}

.cards {
    background-color: #f4f4f4;
    grid-area: m;
    border-radius: 2em;
    padding: 15px;
}

.reservados .card {
    border-color: #ff9494 !important;
}

.aceitar-reserva .card {
    margin-right: 1em;
    border-color: #ff9494 !important;
}

.aceitar-reserva {
    width: 145vh !important;
    display: flex;
}

.card img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 3vh;
    height: 3vh;
    margin-top: 0.5em;
}

.botoes {
    justify-content: center;
    text-align: center;
    display: flex;
}

.botoes a {
    font-size: 85%;
    width: 100%;
}

.title-finalizadas {
    margin: 1em;
}


h4 {
    margin-top: 0.5em !important;
}

h1 {
    font-size: 1.5rem !important;
}

h2 {
    font-size: 1.3rem !important;
}

.col {
    display: block;
    margin-bottom: 1em;
}

.row {
    width: 100% !important;
    margin-left: 0px !important;
    height: 100%;
}



.reservados .row {
    height: 20vh;
}

.scroll {
    width: 100% !important;
    overflow-y: scroll;
    height: 100%;
}

.reservados {
    height: 46%;
}

.card-group .card {
    height: 25vh;
}

.title {
    display: flex;
}

.title h2 {
    width: 100%;
}

.flex {
    display: block !important;
    width: 100%;
}


@media (max-width: 955px) {
    .card {
        height: 37vh !important;
    }
}

/* RESOLUÇÕES BAIXAS DO RESERVAS ACEITAS*/

@media(max-width: 1280px){

}

@media (max-width: 1280px){
    .aceitar-reserva .card {
        height: 28vh !important;
    }
    .reservados .card{
        height: 24vh;
    }
    .botoes {
        display: grid!important;
    }
}

@media (max-width: 1152px){
    .aceitar-reserva .card {
        height: 30vh !important;
    }
    .reservados .card{
        height: 30vh;
    }
}

@media (max-width: 1024px){
    .aceitar-reserva .card {
        height: 32vh !important;
    }
    .reservados .card{
        height: 38vh;
    }
}

@media (max-width: 960px){
    .reservados .card{
        height: 44vh!important;
    }
}

@media (max-width: 911px){
    .reservados .card{
        height: 54vh!important;
    }
}

@media (max-width: 880px){
    .reservados .card{
        height: 60vh!important;
    }
}

@media (max-width: 800px){
    .aceitar-reserva .card {
        height: 50vh !important;
    }
    .reservados .card{
        height: 56vh!important;
    }
}

@media (max-width: 790px){
    .aceitar-reserva .card {
        height: 40vh !important;
    }
}

/* MEDIA HEIGHT "altura" */

@media(max-height:900px){
    .global{
        height: 88%!important;
    }
}

@media(max-height:870px){
    .global{
        height: 86%!important;
    }
}

@media(max-height:850px){
    .global{
        height: 80%!important;
    }
}

@media(max-height:810px){
    .global{
        height: 72%!important;
    }
}

@media(max-height: 734px){
    .global{
        height: 68%!important;
    }
}

@media(max-height: 680px){
    .global{
        height: 60%!important;
    }
}